<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WattsALoanCustomer.My.MySettings.WattsALoanSubConnectionString"
            connectionString="Data Source=PE201-15\MSSQLSVR;Initial Catalog=WattsALoanSub;Integrated Security=True;Replication=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>